## train

In [1]:
import pandas as pd

In [2]:
import os

path = 'dataset/'
forder_list = os.listdir(path)
forder_list_py = [file for file in forder_list]

data = pd.DataFrame()
for i in forder_list_py:
    path = f'dataset/{i}/'
    file_list = os.listdir(path)
    file_list_py = [file for file in file_list if file.endswith('.xlsx')]
    file_list_py += [file for file in file_list if file.endswith('.xls')]
    
    
    for j in file_list_py:
        df = pd.read_excel(path + j)
        df['file_name'] =  j
        df = df[['품목명','시설유형','재배형태','file_name']].tail(1)
        data = pd.concat([data, df])
    
data

       품목명 시설유형 재배형태                 file_name
3532    딸기   비닐   수경     경기도_문--농가데이터셋_딸기.xlsx
3321    딸기   비닐   수경     경기도_박--농가데이터셋_딸기.xlsx
3493    딸기   비닐   수경     경기도_안--농가데이터셋_딸기.xlsx
3531    딸기   비닐   수경     경기도_이--농가데이터셋_딸기.xlsx
3506    딸기   비닐   수경     경기도_장--농가데이터셋_딸기.xlsx
...    ...  ...  ...                       ...
5214   토마토   비닐   토경  부산광역시_이--농가데이터셋_토마토.xlsx
3529   토마토   비닐   수경   전라남도_백--농가데이터셋_토마토.xlsx
3207   토마토  NaN  NaN   전라북도_오--농가데이터셋_토마토.xlsx
6544  파프리카   비닐   수경  경상남도_정--농가데이터셋_파프리카.xlsx
7264  파프리카   비닐   수경   전라북도_천--농가데이터셋_파프리카.xls

[95 rows x 4 columns]

In [3]:
for i in data["품목명"].unique():
    print(i)
    print(data[data['품목명'] == i]['시설유형'].value_counts())
    print(data[data['품목명'] == i]['재배형태'].value_counts())
    print()

딸기
비닐    70
Name: 시설유형, dtype: int64
수경    65
토경     3
Name: 재배형태, dtype: int64

방울토마토
비닐    5
Name: 시설유형, dtype: int64
수경    4
토경    1
Name: 재배형태, dtype: int64

오이
비닐    4
Name: 시설유형, dtype: int64
토경    3
수경    1
Name: 재배형태, dtype: int64

토마토
비닐    7
Name: 시설유형, dtype: int64
수경    5
토경    2
Name: 재배형태, dtype: int64

파프리카
비닐    2
Name: 시설유형, dtype: int64
수경    2
Name: 재배형태, dtype: int64

In [4]:
data_straw = data[data['품목명']=='딸기']
data_babytomato = data[data['품목명']=='방울토마토']
data_oi = data[data['품목명']=='오이']
data_tomato = data[data['품목명']=='토마토']
data_pap = data[data['품목명']=='파프리카']

#### 수경

In [26]:
path1 = 'dataset/수경/'
os.makedirs(path1, exist_ok = True)

In [13]:
def water_choice(df):
    a = random.choice(df[df['재배형태']=='수경']['file_name'].unique())
    b = df['품목명'].unique()[0]
    path = f'dataset/{b}/'

    shutil.copyfile(os.path.join(path, a),
                    os.path.join(path1, a))

In [14]:
water_choice(data_straw)

In [15]:
water_choice(data_babytomato)

In [16]:
water_choice(data_oi)

In [17]:
water_choice(data_tomato)

In [18]:
water_choice(data_pap)

#### 토경

In [27]:
path1 = 'dataset/토경/'
os.makedirs(path1, exist_ok = True)

In [20]:
def land_choice(df):
    a = random.choice(df[df['재배형태']=='토경']['file_name'].unique())
    b = df['품목명'].unique()[0]
    path = f'dataset/{b}/'

    shutil.copyfile(os.path.join(path, a),
                    os.path.join(path1, a))

In [21]:
land_choice(data_straw)

In [22]:
land_choice(data_babytomato)

In [23]:
land_choice(data_oi)

In [24]:
land_choice(data_tomato)