In [1]:
import requests, json, urllib
from urllib import request

In [2]:
straw_codes = [81, 9, 21, 25, 27, 28, 29, 31, 32, 39, 42, 44, 
              45, 48, 50, 51, 53, 54, 56, 57, 59, 201, 202,
              204, 205, 206, 207, 209, 210, 315, 316, 318, 319, 
              320, 324, 325, 326, 327, 332, 339, 344, 345, 349]

In [3]:
len(straw_codes)

43

In [4]:
key = "k843MsctCfKXzXdaTNgsDy1E3P0FjqIAIbLJsl2%2FPztjbvYnvD8epkOT2KnJ6uBwpOvpHUNqILkPpMh910yeKA%3D%3D"

outputs = []

for code in straw_codes:
    url = f"http://apis.data.go.kr/1390000/SmartFarmdata/grwdatarqst?serviceKey={key}&pageSize=50&pageNo=1&searchFrmhsCode={code}&returnType=json"
    
    data = request.urlopen(url).read()
    output = json.loads(data)
    
    outputs.append(output['response']['body']['items']['item'])

In [5]:
len(outputs)

43

In [6]:
outputs_flat = sum(outputs, [])

In [7]:
outputs_flat[0]

{'frtstGrupp': 0.0,
 'lefstalklt': 0.0,
 'frtstSetCo': 0.0,
 'pllnLt': 0.0,
 'flanGrupp': 0.0,
 'frtstCo': 0.0,
 'flanJnt': 0.0,
 'tcdmt': 0.0,
 'frmhsFclu': 0.0,
 'hvstGrupp': 0.0,
 'hvstJnt': 0.0,
 'frmYear': '2017',
 'frmMonth': '8',
 'grwtLt': 0.0,
 'fcluHg': 0.0,
 'frmhsId': '81',
 'lefLt': 0.0,
 'flwrCo': 0.0,
 'hvstCo': 0.0,
 'frmWeek': '31',
 'lefCunt': 0.0,
 'frtstJnt': 0.0,
 'lefBt': 0.0,
 'stemThck': 0.0}

In [12]:
import pandas as pd
from pandas.io.json import json_normalize

# 모든 컬럼이 표시되도록 max_columns 의 수를 지정합니다.
pd.options.display.max_columns = 94

In [13]:
df = json_normalize(outputs_flat)

C:\Users\Jung\AppData\Local\Temp/ipykernel_9188/841168078.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(outputs_flat)

In [14]:
df.head()

,frtstGrupp,lefstalklt,frtstSetCo,pllnLt,flanGrupp,frtstCo,flanJnt,tcdmt,frmhsFclu,hvstGrupp,hvstJnt,frmYear,frmMonth,grwtLt,fcluHg,frmhsId,lefLt,flwrCo,hvstCo,frmWeek,lefCunt,frtstJnt,lefBt,stemThck
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,8,0.0,0.0,81,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,8,0.0,0.0,81,0.0,0.0,0.0,32,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,8,0.0,0.0,81,0.0,0.0,0.0,33,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,8,0.0,0.0,81,0.0,0.0,0.0,34,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,8,0.0,0.0,81,0.0,0.0,0.0,35,0.0,0.0,0.0,0.0

In [ ]:
df.rename(columns={})