In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')
plt.rc('font',family='Malgun Gothic')
plt.rc('axes',unicode_minus=False)

C:\Users\Jung\AppData\Local\Temp/ipykernel_14384/3409357287.py:8: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('retina')

In [2]:
encoding_df = pd.read_csv('dataset/test/ml_water_ms.csv', encoding = 'cp949', index_col = 0)

In [3]:
encoding_df.head()

  품목명 시설유형 재배형태  수집일자(월)  수집시간   내부온도   내부습도
0  오이   비닐   수경        2     0  11.85  95.75
1  오이   비닐   수경        2     0  11.53  95.63
2  오이   비닐   수경        2     0  11.70  95.35
3  오이   비닐   수경        2     0  11.60  95.90
4  오이   비닐   수경        2     0  11.25  94.90

In [4]:
from sklearn.preprocessing import LabelEncoder

def encode_features(dataDF):
    features = ['품목명', '시설유형', '재배형태']
    for feature in features:
        le = LabelEncoder()
        le = le.fit(dataDF[feature])
        dataDF[feature] = le.transform(dataDF[feature])
        
    return dataDF

def drop_features(df):
    df.drop(['시설유형', '재배형태'],axis=1,inplace=True)
    return df

def change_features(df):
    df['내부온도'] = round(df['내부온도'],1)
    df['내부습도'] = round(df['내부습도'],1)
    return df

def transform_features(df):
    df = encode_features(df)
    df = drop_features(df)
    df = change_features(df)
    return df

In [5]:
encoding_data = encoding_df.copy()

In [6]:
encoding_data = transform_features(encoding_data)
encoding_data.head()

   품목명  수집일자(월)  수집시간  내부온도  내부습도
0    2        2     0  11.8  95.8
1    2        2     0  11.5  95.6
2    2        2     0  11.7  95.4
3    2        2     0  11.6  95.9
4    2        2     0  11.2  94.9

In [7]:
from sklearn.model_selection import train_test_split

X = encoding_data.drop('내부온도', axis = 1)
Y = encoding_data['내부온도']
seed = 11
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state = seed)

In [9]:
X_train.shape

(9464, 4)

In [10]:
X_test.shape

(4056, 4)